body, html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: black;
}

input, button {
  width: 100%;
  background: transparent;
  padding: 10px;
  border: 1px solid white;
  border-radius:20px;
  margin: 10px;
  color: white;
  text-align: center;
  font-size: 28px;
  -webkit-appearance: none;
}

#transparentform {
  border: 1px solid transparent;
}

.jumbotron {
  margin: 10px;
}

.header {
  margin-top: 100px;
}

.bgtransparent {
  background: transparent;
}

.bg {
  background-image: url('../images/hal9000bg.png');
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#user-name, #user-input {
  display: none;
}
